<!DOCTYPE html>
<html>
<head>
  <title>Distance Results</title>
</head>
<body>
  <h1>Distance Results</h1>
  <p>Sigma (N/mm^2): <%= sigma %></p>
  <p>Force Applied (N): <%= forceApplied %></p>
  <p>Beam Thickness (mm): <%= beamThickness %></p>
  <p>Results: <%= results %></p>
</body>
</html>
